@using NewsBlog.Helpers
@using NewsBlog.Models
@model NewsBlog.Models.PageViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding-top: 10px; padding-left: 15px; justify-content: space-between;display: flex">
    <div style="display: flex; align-items: center;">
        @Html.ActionLink("Добавить Новость", "CreateNews")
    </div>
    <div>
        <form method="get">
            <div class="form-inline">
                <label class="control-label">Категории: </label>
                @Html.DropDownList("Category",Model.Category.Items as List<SelectListItem>,
                    htmlAttributes: new {@class = "form-control"})
                <input type="submit" value="Фильтр" class="btn btn-default" />

                <label class="control-label">Тэги: </label>
                @Html.DropDownListFor(d=>d.TagName , Model.TagName.Items as List<SelectListItem> , 
                    htmlAttributes: new {@class = "form-control"})
                <input type="submit" value="Фильтр" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>


<div class="row" style="padding-top: 10px; flex-wrap: wrap; display: flex;">
    @foreach (var blog in Model.BlogItems)
    {
        <div class="col-lg-4">
            <div style="max-width: 400px">
                <div class="col-md-6" style="width: 100%; display: flex; justify-content: space-between;">
                    <div>
                        <div>
                            @Html.DisplayFor(modelItem => blog.Name)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => blog.Category)
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            V
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a style="display: block;" href="/Home/DeleteArticle/@blog.NewsId">Удалить</a>
                            <a style="display: block;" href="/Home/UpdateArticle/@blog.NewsId">Изменить </a>
                            <a style="display: block;" href="/Home/AddTagsFArtilce/@blog.NewsId">Добавить тэг</a>
                        </div>
                    </div>
                </div>
                <a href="/Home/Article/@blog.NewsId">
                    @Html.Raw("<img style='width:380px; height:260px;' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(blog.Image) + "\" />")
                </a>
                <div>
                    @Html.DisplayFor(modelItem => blog.ShortDescription)
                </div>
                <div>
                    <br/>
                    @foreach (var t in blog.Tags)
                    {
                         <button mat-button disabled="disabled">
                             @t.TagName
                         </button>
                    }
                </div>
            </div>
        </div>

    }
</div>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Admin", new { page = x }))
</div>
