@using NewsBlog.Helpers
@model NewsBlog.Models.PageViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row" style="padding-top: 10px; padding-left: 15px; justify-content: space-between;display: flex">
    <div>
        @using (Html.BeginForm())
        {
            <p>
                Поиск по категории: @Html.DropDownList("searchString", Model.Category, new
           {
               @class = "chzn-select",
               data_placeholder = "Категории"
           })
                Поиск по тегу:      @Html.ListBox("tagString", Model.Tag, new
                {
                                                            @class = "chzn-select",
                                                            data_placeholder = "Теги"
                                                          })
                Поиск по дате:      <input id="startDate" name="startDate" type="date" value="startDate" />
                <input id="endDate" name="endDate" type="date" value="endDate" />
                <input type="submit" value="Search" />
            </p>
        }
    </div>
</div>

<div class="row" style="padding-top: 10px; flex-wrap: wrap; display: flex;">
    @foreach (var blog in Model.BlogItems)
    {
        <div class="col-lg-4">
            <div style="max-width: 400px">
                <div class="col-md-6" style="width: 100%; display: flex; justify-content: space-between;">
                    <div>
                        <div>
                            @Html.DisplayFor(modelItem => blog.Name)
                        </div>
                        <div>
                            @foreach (var c in ViewBag.Categories)
                            {
                                if (blog.CategoryId == c.Id)
                                {
                                    @c.Name
                                }
                            }
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            V
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a style="display: block;" href="/Home/DeleteArticle/@blog.NewsId">Удалить</a>
                            <a style="display: block;" href="/Home/UpdateArticle/@blog.NewsId">Изменить </a>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/Home/Article/@blog.NewsId">
                        @if (blog.Image != null)
                        {

                            @Html.Raw("<img style='width:380px; height:260px;' src=\"data:image/jpeg;base64,"
                                      + Convert.ToBase64String(blog.Image) + "\" />")
                        }
                        else
                        {
                            <img src="/Content/Images/stockPicture.jpg" style="width: 380px; height: 260px; "/>
                        }
                    </a>
                </div>
                <div>
                    @Html.DisplayFor(modelItem => blog.ShortDescription)
                </div>
                <div>
                    <br/>
                    @foreach (var t in blog.Tags)
                    {
                         <button mat-button disabled="disabled">
                             @t.TagName
                         </button>
                    }
                </div>
            </div>
        </div>

    }
</div>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Admin", new { page = x }))
</div>
