@model IEnumerable<NewsBlog.Models.BlogItem>
 
@{
    ViewBag.Title = "Index";
}
 
<div class="row" style="padding-top: 10px;">
    @foreach (var blog in Model)
    {

        <div class="col-md-4">
            <p>
                @Html.Raw("<img style='width:380px; height:260px;' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(blog.Image) + "\" />")
            </p>
            <h6>
                @Html.DisplayFor(modelItem => blog.Name)
            </h6>
            <h5>
                @Html.DisplayFor(modelItem => blog.Description)
            </h5>
            <h5>
                @Html.DisplayFor(modelItem => blog.Tags)
            </h5>
            <h5>
                @Html.DisplayFor(modelItem => blog.Category)
            </h5>
        </div>

    }
</div>