@using NewsBlog.Models
@using NewsBlog.Helpers
@model NewsBlog.Models.PageViewModel

<div class="row" style="padding-top: 10px; padding-left: 15px; justify-content: space-between;display: flex">
    @using (Html.BeginForm())
    {
        <p>
            Find by category: @Html.TextBox("SearchString")
            Find by tag: @Html.TextBox("tagString")
            <input type="submit" value="Search" /></p>
    }
</div>

<div class="row" style="padding-top: 10px; flex-wrap: wrap; display: flex;">
    @foreach (var blog in Model.BlogItems)
    {
        <div class="col-lg-4">
            <div style="max-width: 400px">
                <div class="col-md-6" style="width: 100%; display: flex; justify-content: space-between;">
                    <div>
                        <div>
                            @Html.DisplayFor(modelItem => blog.Name)
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => blog.Category)
                        </div>
                    </div>
                </div>
                <a href="/Home/Article/@blog.NewsId">
                    @Html.Raw("<img style='width:380px; height:260px;' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(blog.Image) + "\" />")
                </a>
                <div>
                    <p>
                        @Html.DisplayFor(modelItem => blog.ShortDescription)
                    </p>
                </div>
                <div>
                    @foreach (Tag t in blog.Tags)
                    {
                        <button mat-button disabled="disabled">
                            @t.TagName
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>

<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo , x => Url.Action("Index", new { page = x }))
</div>
